In [1]:
import pandas as pd
df = pd.read_csv('input/listings_final.csv')

/tmp/ipykernel_82457/439669119.py:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('input/listings_final.csv')

In [2]:
df.columns

Index(['name', 'host_id', 'host_name', 'neighbourhood', 'latitude',
       'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365', 'property_type',
       'accommodates', 'first_review', 'review_scores_value',
       'review_scores_cleanliness', 'review_scores_location',
       'review_scores_accuracy', 'review_scores_communication',
       'review_scores_checkin', 'review_scores_rating', 'maximum_nights',
       'listing_url', 'host_is_superhost', 'host_about', 'host_response_time',
       'host_response_rate', 'street', 'weekly_price', 'monthly_price',
       'market'],
      dtype='object')

In [3]:
#Seleccionamos las variables que nos interesan en un nuevo df
df_pred = df.copy()
df_pred_new = df_pred[['neighbourhood', 'property_type', 'accommodates', 'room_type', 'price', 'maximum_nights', 'minimum_nights']]

df_pred_new.head()

,neighbourhood,property_type,accommodates,room_type,price,maximum_nights,minimum_nights
0,Oostelijk Havengebied - Indische Buurt,Apartment,2,Private room,59,15,3
1,Westerpark,Apartment,5,Entire home/apt,160,20,4
2,Centrum-Oost,Townhouse,2,Entire home/apt,80,1000,1
3,Centrum-West,Apartment,3,Entire home/apt,125,60,14
4,Centrum-West,Houseboat,2,Private room,150,730,2

In [4]:
df_pred_new["minimum_nights"].unique()

array([   3,    4,    1,   14,    2,   28,    5,   30,    7,   90,    6,
         29,   13,   10,   21,  180,   60,   20,   15,   50,  183,    8,
         25,   31,   12,    9,   22,   40,  999,  100,  365,  186,  185,
        222,   26,   59,   18,   95,   19,   27,   70,   11,   45,  181,
        300, 1001,   52,   24,   17,  230,   42])

In [5]:
#importamos pycaret regression para calcular el price
from pycaret.regression import *

In [6]:
#hacemos un setup con visa  a nuestro target price
setup = setup(df_pred_new, target = 'price')

In [7]:
#Evaluamos modelos
best = compare_models()

In [8]:
#Vemos que el que mejor nos viene es lr 
lr = create_model('lr') # lo creamos

In [9]:
# lo tuneamos XD
tuned_lr = tune_model(lr)

Fitting 10 folds for each of 2 candidates, totalling 20 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [10]:
#Veamos como se comporta
evaluate_model(tuned_lr)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [11]:
pred_df = predict_model(tuned_lr)
print (tuned_lr)

LinearRegression(n_jobs=-1)

In [12]:
#finalizamos el modelo
final_lr_best = finalize_model(tuned_lr)

In [13]:
#guardamos el modelo 
save_model( final_lr_best, 'ml_airbnb')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=/tmp/joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['accommodates', 'maximum_nights',
                                              'minimum_nights'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['neighbourhood', 'property_type',
                                              'room_type'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('onehot_encodi...
                  TransformerWrapper(include=['neighbourhood', 'room_type'],
                                     transformer=OneHotEncoder(cols=['neighbourhood',
                                                                     'room_type'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('rest_encoding',
                  TransformerWrapper(include=['property_type'],
                                     transformer=TargetEncoder(cols=['property_type'],
                                                               handle_missing='return_nan'))),
                 ('actual_estimator', LinearRegression(n_jobs=-1))]),
 'ml_airbnb.pkl')